{% load socialaccount %} {% load staticfiles %}
<!DOCTYPE html>

<body>
<div id="header">  {# header begins here #}

   {% if user.is_authenticated %}
      <h1>Welcome {{ user.username }} !!!</h1>
       <ul id="control-bar">
        <li><a href="{% url 'logout' %}">logout</a></li>
      </ul>
      {% else %}
      <a href="{% provider_login_url 'facebook' %}">Sign Up</a>
   {% endif %}

</div>              {# header ends here #}
<html>
<head>
    <title>My Django Blog</title>
    <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">  
</head>
<body>
    <div id="container">
      <div id="content">
      {% block content %}
       [content will go here]
      {% endblock %}
      </div>
    </div>
  </body>
</html>